.Landingmain{
    margin-top:-20px;
}


/*    section 1    */

.Section1{
    background-color:#20Bf6b;
    padding-top:180px;
    min-height:300px;
    height:30vw;
    color:white;
}

.Actiontexts{
    width:50%;
    margin:auto;
}

.Section1 a{
    color:white;
    text-decoration:none;
}

.Section1 button{
    background-color:#fc5665;
    border:none;
    border-radius:5px;
    padding:8px 30px;
}

.Section1 button:hover{
    cursor: pointer;
    background-color:#fc5680;
}


/* section 2*/
.Section2{
    width:75%;
    margin:auto;
}

.Section2 img{
    width:25px;
    height:25px;
}

.Section2 h4{
    text-align:center;
    margin:40px 0 50px 0;
}

.Section2 p{
    padding:0 15px;
}

/*for sec 2& sec 3both*/

.Cards{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
}

.Card{
    min-width:200px;
    width:35%;
    background-color:wheat;
    height:250px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom:35px;
    border-radius:5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


/*section3*/
.Section3{
    margin:180px auto 0 auto;
    width:75%;
}

.Section3 img{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-top:10px;
    margin-right:10px;
}

.Section3 .Card p{
    padding:10px 35px;
}

.Section3 h4{
    text-align:center;
    margin-bottom:50px;
}

.Profile{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

@media(max-width:300px){
    .Section2{
        width:100%
    }
    .Section3{
        width:100%;
    }
    .Cards{
        width:100%;
    }
}