.Content{
    width:50%;
    margin:auto;
    word-break:break-all;
}

.Content img{
    display:block;
    width:100%;
    height:auto;
    margin:15px auto;
}

.Update a{
    color:black;
    margin:0 25px 0 0;
}

.Update a:hover{
    cursor: pointer;
}

.Update a:hover{
    color:skyblue;
}

.Likebtn{
    margin:20px 0;
    padding:10px;
}

.Likebtn:hover{
    cursor: pointer;
}

.Errorview{
    text-align:center;
}

@media(max-width:900px){
    .Content{
        width:75%;
    }
}