.Signuppage{
    margin-top:120px;
    margin-bottom:20px;
}

.Signupform{
    width:280px;
    margin:auto;
    height:300px;
    border:solid 1px rgba(0,0,0,0.2);
    border-radius:5px;
    padding:30px 25px;
}

.Signuppage h4{
    text-align:center;
}

.Signuppage a{
    color:black;
    text-decoration:none;
}

.Signuppage a:hover{
    color:skyblue;
}

.Signupform input{
    width:100%;
    margin:auto;
    border:solid 1px rgba(0,0,0,0.2);
    border-radius:4px;
    height:30px;
    padding-left:5px;
    margin-bottom:12px;
}

.Signupform p{
    font-size:12px;
}

.Signupform [type='submit']{
    width:103.5%;
    margin-top:20px;
}

.Signupform [type='submit']:hover{
    cursor: pointer;
    background-color:#fff;
}

.Loadingview{
    margin-top:150px;
    text-align:center;
}


@media(max-width:350px){
    .Signupform{
        border:none;
    }
}